
@media all and (min-width: 600px) and (max-width: 1366px)
{
    
    .presentation
    {
        width: 30%;
        margin-right: 75px;
        background-color: #00e6e6;
    }

    body
    {
        display: flex ; 
        border: 2px solid #3E3E3E;
        border-radius: 10px;
        margin: 0;
        color: #3E3E3E;
        font-family: 'Source Sans Pro', sans-serif;
        word-wrap: break-word ;
    }
    #loisir i
    {
        text-align: center;
        margin: 0 30px 20px 30px;
    }

    
    .information 
    {
        width: 70%;
    }

    .image , #aboutMe
    {
        background: #00e6e6;
    }

    #aboutMe .title
    {
        background-color: #000;
        color: #00e6e6 ;
    }

}

@media all and (min-width: 150px) and (max-width: 599px)
{
    body
    {
        border: 2px solid #3E3E3E;
        border-radius: 10px;
        margin: 0;
        color: #3E3E3E;
        font-family: 'Source Sans Pro', sans-serif;
        word-wrap: break-word ;
    }

    #loisir i
    {
        font-size: 40px;
        margin: 0 auto 15px auto;
    }

    .presentation 
    {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .presentation, #aboutMe 
    {
        background-color: #DB2D2D ;
    }

    .image 
    {
        background-color: #DB2D2D ;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #aboutMe .title
    {
        background-color: #3E3E3E ;
        color: #DB2D2D ;
    }

    .information 
    {
        padding: 10px;
    }

    #loisir div 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content 
    {
        flex-direction: column;
    }

    .content ul , .content article 
    {
        margin: 0 auto;
    }
}

h1 , h2
{
    margin: 0px;
}

.image 
{
    padding-top: 25px;
    border-top-left-radius: 10px;
    text-align: center;
}

.image img
{
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

#aboutMe
{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#aboutMe .title
{
    width: 100%;
    text-align: center;
    font-size: 25px;
}

#contact p span
{
    display: block;
    margin: 15px 0px 15px 30px;
}

#aProposDeMoi p 
{
    margin: 30px 30px 50px 30px;
    
}

#loisir h2
{
    margin-bottom: 20px;
}

#loisir i 
{
    font-size: 50px;
}

.information .title
{
    margin-top: 50px;
}

.information  .title span
{
    color: #DB2D2D;
}

.information .title h2 u 
{
    text-decoration: #DB2D2D underline;
}

#professionnel 
{
    padding-top: 50px;
}

#professionnel .title
{
    margin: 50px 0px 50px 0;
}

#professionnel .title h1 
{
    font-size: 40px;
}

#professionnel .title h2 
{
    font-size: 20px;
}

#professionnel i 
{
    color: #DB2D2D;
}

.yellowDivider
{
    width: 100%;
    height: 2px;
    background-color: #DB2D2D;
    margin-right: 30px;
}

.content
{
    display: flex;
    margin: 20px 0 ;
}

.content ul
{
    width: 40%;
    padding-left: 20px;
}

.content article
{
    width: 60%;
}

.head
{
    font-size: 25px;
    margin-bottom: 5px;
}

.head span
{
    font-size: 28px;
    margin: 5px 20px 0px 0px;
}

.content h1 
{
    font-size: 25px;
}

.content h2
{
    font-size: 20px;
}

